
<section [ngClass]="{loading: !taskList.length}">
    <ul *ngIf="taskList.length">
        <li *ngFor="let item of taskList; let i = index">
          <input
            type="checkbox"
            [(ngModel)]="item.checked"

          >
          <input
            type="text"
            [(ngModel)]="item.task"
            [ngClass]="{checked: item.checked}"
            (keyup)="inputValidation(item.task, i)"
          >
          <button (click)="deleteTaskListItem(i)">
            <img src="assets/icons/icon-trash.svg" alt="trash button">
          </button>
        </li>
    </ul>
</section>
<app-todo-input-additems (emitTaskListItem)="setTaskListEmit($event)"/>
<app-todo-button-delete-all (click)="deleteTaskListItem"  *ngIf="taskList.length"/>
